---
const x = 2 + 2
---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lionsmane</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  </head>

  <body>
    The x is {x}

    <button hx-post="/clicked" hx-swap='outerHTML'>
      Click Me
    </button>
  </body>
</html>
