---
import Page from '../layouts/page.astro';
import User from '../models/user.js'; 

if (Astro.request.method == 'POST') { 
  console.log("POST sign up");
  return Astro.redirect('/');
}

---
<Page title='Sign up'>
  <h1>Lionsmane</h1>

  <a href="/">Back</a>

  <form method='POST' action='/signup' class='signup'>
    <input required type="text" name="name" placeholder="Name" />
    <input required type="email" name="email" placeholder="Email" />
    <input required type="password" name="password" placeholder="Password" />
    <button type="submit">Sign up</button>
  </form>
</Page>
